
.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'left_upper right_upper right_upper right_upper right_upper right_upper'
    'lower lower lower lower lower lower';

}

/* left upper portion of the app interface */
.column-of-play-list {
  grid-area: left_upper;
  background-color: #EFEFEF;
  position: fixed;
  left: 0px;
  z-index: 1;
  margin-bottom: 10vh;
  width: 16.67vw;
  height: 90vh;
}


/* right upper portion of the app interface, not position fixed */
.play-list {
  grid-area: right_upper;
  width: 83.34vw;
  margin-left: 16.67vw;
}

.play-list-content {
  height: calc(90vh - 64px);
  margin-top: 64px;
  overflow: scroll;
}
/* lower portion of the app interface */
.player-app {
  grid-area: lower;
  grid-template-areas: 'search';
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 10vh;
  width: 100vw;
  z-index: 3;
  background-color: white;
}

/* Audio player in player portion*/

.player {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  height: 10vh;
  width: 100vw;
  bottom: 0px;
}

/* nothing is loaded layout*/
.player-alter {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.song-name-and-slide-bar{
  padding-left: 3vw; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;  
  justify-content: flex-start;
}

.track-artist {

  font-family: 'Times New Roman';
  white-space: nowrap; 
  width: 40vw; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-animation {
  width: 40vw;
  animation-name: slide;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes slide {
  0% {left: 0vw;}
  25% {left: -30vw;}
  50% {left: 0vw;}
  75% {left: 30vw;}
  100% {left: 0vw;}
}

.duration-alter {
  padding-left: 10vw;
  padding-top: 3px;
}

.slider {
  width: 70vw;
}

/* Keep CSS, in control_interface.js, since only one class */
.controller-interface { /* This is the three buttons */
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  align-items: baseline; /* This is for meet in the middle for the play,prev,next buttons */
  margin-top: 1vh;
}

/* Keep just in case messed up the animation*/
.spin-image {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  animation: spin infinite 20s linear;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
